<% if !defined? comment
  comment = @comment
  end %>
<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.text_field :content, class: "form-control" %>
      <span class="input-group-btn">
        <%= f.submit "Comment", class: "btn btn-default" %>
      </span>
  </div>
  <%= f.hidden_field :post_id, class: "form-control" %>
<% end %>