<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Nickname</th>
            <th>School</th>
            <th>Job</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to "#{user.firstName} #{user.lastName}", user %></td>
              <td><%= user.nickName %></td>
              <td><%= School.find(user.school_id).name %></td>
              <td><%= user.job %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>