<div class="container">
  <% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <h1><%= @user.firstName %> <%= @user.lastName %></h1>
      <p>"<%= @user.nickName %>"</p>
      <p><%= pluralize(@user.followers_count, 'follower') %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>About</h2>
      <p><strong>School</strong> <%= School.find(@user.school_id).name %></p>
      <p><strong>Job</strong> <%= @user.job %></p>
      <p><strong>Birthday</strong> <%= @user.birthdate %></p>
    </div>
    <div class="col-md-6">
      <h2>Posts</h2>
      <%= render @user.posts.reverse %>
    </div>
  </div>
</div>

<% if user_signed_in? %>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bottomnav-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="bottomnav-collapse">
        <% if current_user.following?(@user) %>
          <%= link_to 'Unfollow', unfollow_user_path(@user), method: "delete", class: "btn btn-default navbar-btn" %>
        <% else %>
          <%= link_to 'Follow', follow_user_path(@user), class: "btn btn-default navbar-btn" %>
        <% end %>
    </div>
  </div>
</nav>
<% end %>