<div class="container">
	<div class="row">
		<div class="col-md-10"><h1><%= @school.name %></h1></div>
		<div class="col-md-2">
			<div class="btn-group-vertical">
				<%= link_to 'Edit', edit_school_path(@school), class: "btn btn-warning btn-block" %>
				<%= link_to 'Destroy', @school, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-block" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Students</h2>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Nickname</th>
					<th>Job</th>
					<th>Followers</th>
				</tr>
				<%= render @school.users %>
			</table>
		</div>
	</div>
</div>
<p id="notice" class="alert"><%= notice %></p>