<div class="container">
	<% if notice %>
    	<p id="notice" class="alert alert-info"><%= notice %></p>
  	<% end %>
  	<div class="row">
  		<div class="col-md-10">
  			<h1><%= @post.title %></h1>
  			<span><%= @post.user.nickName %></span>
  			<p><%= @post.content %></p>
  		</div>
  		<div class="col-md-2">
  			
  		</div>
  	</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bottomnav-collapse" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
			<span class="icon-bar"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="bottomnav-collapse">
	    	<% if user_signed_in? %>
  				<% if @post.user == current_user %>
  					<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning navbar-btn" %>
  					<%= link_to 'Delete', @school, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger navbar-btn" %>
  				<% else %>
  					<%= link_to 'Like', '#', class: "btn btn-default navbar-btn" %>
  					<% if current_user.following?(@post.user) %>
			          <%= link_to "Unfollow #{@post.user.nickName}", unfollow_user_path(@post.user), method: "delete", class: "btn btn-default" %>
			        <% else %>
			          <%= link_to "Follow #{@post.user.nickName}", follow_user_path(@post.user), class: "btn btn-default" %>
			        <% end %>
  				<% end %>
  			<% end %>
		</div>
	</div>
</nav>